body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.orenge-color{
    color: rgba(255, 166, 0, 0.966);
}
.gray-color{
    color: rgb(100, 81, 81);
}
.flexible-conteiner{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width: 50%;
    padding: 7%;
}
.half-width img{
    width: 70%;
}
.three-box{
    width: 30%;
    padding: 3%;
    margin-left: 31px;
}
.three-box img{
    width: 40%;
}
.frist-link-button{
    color: white;
    text-decoration: none;
    background-color: rgba(236, 79, 79, 0.959);
    padding: 9px 20px;
    border-radius: 5px;
}
.box{
    box-shadow: 20px 30px grey;
}