body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-left: 8%;
}
.orenge-color{
    color: rgba(255, 166, 0, 0.966);
}
.gray-color{
    color: rgb(100, 81, 81);
}
.flexible-conteiner{
    display: flex;
    margin-bottom: 80px;
    margin-left: 10px;
}
.half-width{
    width: 50%;
    padding: 7px;
}
.half-width img{
    width: 70%;
}
.three-box{
    width: 90%;
    padding: 3%;
    margin-left: 10px;
}
.three-box img{
    width: 40%;
}
#dev01{
    background-color: rgba(214, 230, 214, 0.918);
    border-radius: 11px;
}
#dev02{
    background-color: rgb(250, 225, 225);
    border-radius: 11px;
}
#dev03{
    background-color: rgb(230, 233, 195);
    border-radius: 11px;
}
.frist-link-button{
    color: white;
    text-decoration: none;
    background-color: rgba(236, 79, 79, 0.959);
    padding: 9px 20px;
    border-radius: 5px;
}
.font-weight{
    font-size: 35px;
}
.color{
    font-style: italic;
    color: rgba(2, 69, 255, 0.959);
}
.copy-right{
    width: 100%;
background-color: black;
color: white;
font-style: oblique;
}
.last-color{
    color: rgba(236, 79, 79, 0.959);
}
.blue{
    color: rgba(123, 123, 247, 0.932);
}